@charset "utf-8";
/* CSS Document */
body{
	color:#646464;
	background-color:#f6f6f6;
}
.container{
	width:auto;
}

.headerh{
	height:123px;
	background-color:#FFFFFF;
	background-image:url(../image/shadow_bottom.gif) ;
	background-position:bottom ;
	background-repeat:repeat-x;
}
.footerh{
	line-height:62px;
	text-align:center;
	background-color:#FFFFFF;
	background-image:url(../image/shadow_top.gif) ;
	background-position:top ;
	background-repeat:repeat-x;
}
.header{
 float:left;
 position:relative;
 width:100%;
 height:80px;
 background-position:bottom;
 background-image:url(../image/shadow_bottom.gif);
 background-repeat:repeat-x;
}
table { 
	border-spacing:0;
	border:0;
}
.menu{
 float:left;
 position:relative;
 width:100%;
 height:40px;
 background-color:#F8F8F8;
}
.signinbutton{
	float:right;
	position:relative;
	width:75px;
	line-height:30px;
	text-align:center;
	background-color:#009BFF;
	border-radius:5px;
	color:#FFFFFF !important;
	text-decoration:none !important;
	margin-top:22px;
	margin-right:22px;
	display:block;
	text-decoration:none;
}
.signinbutton:hover{
	float:right;
	position:relative;
	width:75px;
	line-height:30px;
	text-align:center;
	background-color:#28ABFF;
	border-radius:5px;
	color:#FFFFFF !important;
	text-decoration:none !important;
	margin-top:22px;
	margin-right:22px;
	display:block;
	text-decoration:none;
}
.location{
	float:right;
	position:relative;
	width:auto;
	line-height:30px;
	text-align:center;
	background-color:#FFFFFF;
	border-radius:5px;
	color:#646464 !important;
	text-decoration:none !important;
	margin-top:22px;
	margin-right:22px;
}
.location:hover{
	float:right;
	position:relative;
	width:auto;
	line-height:30px;
	text-align:center;
	background-color:#FFFFFF;
	border-radius:5px;
	color:#000 !important;
	text-decoration:underline !important;
	margin-top:22px;
	margin-right:22px;
}
.activemenu{
	float:left;
	padding-left:30px;
	padding-right:30px;
	font-weight:bold;
	line-height:43px;
	background-color:#FFF;
	border-right:1px solid #E1E1E1;
	margin-top:-3px;
	color:#000 !important;
	text-decoration:none !important;

}
.activemenu:hover {
	float:left;
	padding-left:30px;
	padding-right:30px;
	font-weight:bold;
	line-height:43px;
	background-color:#FFF;
	border-right:1px solid #E1E1E1;
	margin-top:-3px;
	color:#646464 !important;
}
.inactivemenu{
	float:left;
	padding-left:30px;
	padding-right:30px;
	line-height:43px;
	border-right:1px solid #E1E1E1;
	color:#646464 !important;
	text-decoration:none !important;
	margin-top:-3px;
}
.inactivemenu:hover {
	float:left;
	padding-left:30px;
	padding-right:30px;
	line-height:43px;
	border-right:1px solid #E1E1E1;
	color:#000 !important;
	text-decoration:underline !important;
	margin-top:-3px;

}
.leftcontainer{
	min-height:800px;
	padding:0px !important;
}
.rightcontainer{
	min-height:800px;
	background-image:url(../image/shadow_right.gif);
	background-position:left ;
	background-repeat:repeat-y;
}
.headerstrip{
	float:left;
	height:5px;
	width:100%;
	background:url(../image/topbg.gif);
	}
.nopadding{
	padding-left:0px !important;
	padding-right:0px !important;
}
.searchbar{
	background-color:#FFF;
	height:70px;
	border:1px solid #E1E1E1;
	margin-top:15px;
	border-radius:5px;
	margin-left:15px;
	margin-right:15px;
	width:97.2%;
	}
.paggination{
	line-height:50px;
}
.count{
	float:left;
	position:relative;
	width:auto;
	padding-right:15px;
	padding-left:15px;
	line-height:50px;
}
.pagecount{
	float:right;
	position:relative;
	width:auto;
	padding-right:15px;
	line-height:50px;
}
.block1{
	background-color:#FFF;
	height:135px;
	border:1px solid #E1E1E1;
	margin-bottom:13px;
	border-radius:5px;
	margin-left:15px;
	margin-right:15px;
	width:97%;

}
.block2{
	background-color:#FFF;
	height:auto;
	width:47.80%;
	border:1px solid #E1E1E1;
	margin-bottom:13px;
	border-radius:5px;
	margin-left:15px;
	padding:0px !important;
}
.block3{
	background-color:#FFF;
	height:auto;
	width:31.4%;
	height:314px;
	border:1px solid #E1E1E1;
	border-radius:5px;
	margin-left:15px;
	margin-righ:15px;
	margin-top:15px;
	padding:0px !important;
}

input[type=text], select{
    width: 45%;
    padding: 10px 10px;
    margin: 13px 0;
    box-sizing: border-box;
	border:1px solid #E1E1E1;
	color:#646464;
}
.select{
    width: 20% !important;
    padding: 11px 10px;
    margin: 13px 10px 10px 0;
}
.text{
    width: 20% !important;
    padding: 11px 10px;
    margin: 13px 10px 10px 0 !important;
}
.text1{
    width: 23.3% !important;
    padding: 11px 10px;
    margin: 13px 10px 10px 0 !important;
}
.search{
	float:right;
	width:80px;
    box-sizing: border-box;
	border:1px solid #E1E1E1;
	color:#646464;
	line-height:66px;
	border-radius:0px 5px 5px 0px;
	background-color:#009BFF;
	color:#FFF;
	text-align:center;
}
.search:hover{
	float:right;
	width:80px;
    box-sizing: border-box;
	border:1px solid #E1E1E1;
	color:#646464;
	line-height:66px;
	border-radius:0px 5px 5px 0px;
	background-color:#28ABFF;
	color:#FFFFFF !important;
	text-decoration:none !important;
	text-align:center;
}
.hiddepadding{
	padding-right:-0px !important;
}
.selocation{
	float:left;
	width:20px;
    padding: 10px 10px ;
    margin: 25px 5px 10px 0;
	background:url(../image/location.svg);
	background-repeat:no-repeat;
}

.gro_block3{
	background-color:#FFF;
	height:auto;
	width:100%;
	line-height:35px;
	border-bottom:1px solid #E1E1E1;
	border-radius:5px 5px 0px 0;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#B20095;
	padding-left:10px;
}
.main_block{
	float:left;
	position:relative;
	width:100%;
	height:90px;
}
.block_txtblock{
	float:left;
	position:relative;
	width:87%;
	line-height:30px;
	font-weight:bold;
	color:#323232;
	padding-left:10px;
	text-decoration:none;
}
.block_txtblock:hover{
	float:left;
	position:relative;
	width:87%;
	line-height:30px;
	font-weight:bold;
	color:#323232;
	padding-left:10px;
	text-decoration:underline;
}
.block_kmblock{
	float:left;
	position:relative;
	width:100%;
	height:45px;
}
.gro_kmblock{
	float:left;
	position:relative;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	line-height:35px;
	border:1px solid #E1E1E1;
	margin-left:10px;
	margin-top:4px;
	font-weight:bold;
	color:#B20095;
}
.txtblock{
	float:left;
	position:relative;
	width:auto;
	padding-left:10px;
	color:#646464;
	margin-top:2px;
}
.bottomborder{
	float:left;
	position:relative;
	width:93%;
	height:15px;
	margin-left:10px;
	border-bottom:1px solid #e1e1e1;
}
	.gro_block3bottom{
	float:left;
	position:relative;
	background-color:#B20095;
	height:auto;
	width:100%;
	height:6px;
	border-radius:0px 0px 5px 5px;
	padding-left:10px;
}
.re_block3{
	background-color:#FFF;
	height:auto;
	width:100%;
	line-height:35px;
	border-bottom:1px solid #E1E1E1;
	border-radius:5px 5px 0px 0;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#00A53C;
	padding-left:10px;
}

.re_kmblock{
	float:left;
	position:relative;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	line-height:35px;
	border:1px solid #E1E1E1;
	margin-left:10px;
	margin-top:4px;
	font-weight:bold;
	color:#00A53C;
}
.re_block3bottom{
	float:left;
	position:relative;
	background-color:#00A53C;
	height:auto;
	width:100%;
	height:6px;
	border-radius:0px 0px 5px 5px;
	padding-left:10px;
}



.reli_block3{
	background-color:#FFF;
	height:auto;
	width:100%;
	line-height:35px;
	border-bottom:1px solid #E1E1E1;
	border-radius:5px 5px 0px 0;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFC800;
	padding-left:10px;
}

.reli_kmblock{
	float:left;
	position:relative;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	line-height:35px;
	border:1px solid #E1E1E1;
	margin-left:10px;
	margin-top:4px;
	font-weight:bold;
	color:#FFC800;
}
.reli_block3bottom{
	float:left;
	position:relative;
	background-color:#FFC800;
	height:auto;
	width:100%;
	height:6px;
	border-radius:0px 0px 5px 5px;
	padding-left:10px;
}

.auto_block3{
	background-color:#FFF;
	height:auto;
	width:100%;
	line-height:35px;
	border-bottom:1px solid #E1E1E1;
	border-radius:5px 5px 0px 0;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FA9600;
	padding-left:10px;
}

.auto_kmblock{
	float:left;
	position:relative;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	line-height:35px;
	border:1px solid #E1E1E1;
	margin-left:10px;
	margin-top:4px;
	font-weight:bold;
	color:#FA9600;
}
.auto_block3bottom{
	float:left;
	position:relative;
	background-color:#FA9600;
	height:auto;
	width:100%;
	height:6px;
	border-radius:0px 0px 5px 5px;
	padding-left:10px;
}
.smallImage{
	float:left;
	position:relative;
	width:128px;
	height:95px;
	background-color:#F6F6F6;
	margin-top:15px;
	border:1px solid #e1e1e1;
}
.content1{
	float:left;
	position:relative;
	width:70%;
	margin-top:15px;
	padding-left:15px;
}
.content2{
	float:left;
	position:relative;
	width:70%;
	padding-left:15px;
	padding-top:2px;
}
.content3{
	float:left;
	position:relative;
	width:50%;
	padding-left:15px;
	padding-top:2px;
}
.title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#323232;
}
.subcontent1{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#323232;
	width:85px;
}
.subcontent2{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#646464;
	width:auto;
}
.gro_kmblock_list{
	float:right;
	position:relative;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	line-height:35px;
	border:1px solid #E1E1E1;
	border-radius:3px;
	font-weight:bold;
	color:#B20095;
	margin-top:-10px;
	margin-right:-8px;
}
.open_close{
	float:right;
	position:relative;
	width:auto;
	padding-left:10px;
	padding-right:20px;
	line-height:35px;
	color:#626262;
	margin-top:-9px;
	margin-right:-8px;
}
.mapicon{
	float:right;
	position:relative;
	margin-top:15px;
}
.mapicon1{
	float:right;
	position:relative;
	margin-top:10px;
	margin-right:12px;
}
	
	
.title{
	font-size:14px;
	font-weight:bold;
	color:#323232;
	text-decoration:none;
}
.title:hover{
	font-size:14px;
	font-weight:bold;
	color:#323232;
	text-decoration:underline;
}
.topdetail{
	margin:auto;
}
.toparea{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.gro_title{
	float:left;
	line-height:50px;
	background-color:#B20095;
	width:100%;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:15px;
}
.white_title{
	float:left;
	line-height:50px;
	width:100%;
	font-weight:bold;
	color:#323232;
	padding-left:15px;
}
.content{
	float:left;
	position:relative;
	width:100%;
	height:auto;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:15px;
}
.tdtoppadd{
	padding-top:10px;
}
.tdtoppadd1{
	padding-top:6px;
}
.smallfont{
	font-family:Arial, Helvetica, sans-serif;
	color:#323232;
	font-size:12px;
}
.activeweekdays{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#323232;
	font-weight:bold;
	padding-top:3px;
}
.inactiveweekdays{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#646464;
	padding-top:3px;
}

.map{
	float:left;
	position:relative;
	height:500px;
	background-color:#f9f9f9;
	width:100%;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.fullWidth{
	width: 100%;
}
.daysWith{
	width: 100px;
}

/*---------- Image Slider ----------*/
.lSPager {
	display: none;
}
/*---------- Image Slider End----------*/

.relatedContent{
	min-height:20px;
	margin: 15px;
}